doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        form(action="/form_receiver" method="post")
            p
                input(type="text" name="title")
            p
                textarea(name="desc")
            p
                input(type="submit")